html{
  background-color: rgb(28, 26, 26);
  color: #f3f3f3;
  font-family: sans-serif;
  padding: 16px 32px;
}
header{
  padding-bottom: 16px;
  border-bottom: 1px solid #f3f3f3;
}
header h1{
  font-weight: bold;
  font-size: 2rem;
}
main{
  padding: 40px;
}